.root {
	position: relative;
}

.input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 20px;
	width: 300px;
	border-radius: 12px;
	padding-left: 35px;
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.icon {
	width: 22px;
	height: 22px;
	opacity: 0.2;
	position: absolute;
	top: 12px;
	left: 12px;
}
.clearSearch {
	width: 22px;
	height: 22px;
	opacity: 0.2;
	position: absolute;
	top: 12px;
	right: 12px;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}
